<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


body {
  background-image:url(/background.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  /* background-position: center;  */
}


.card {
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}



img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

</style>
</head>


<body>




<div class="card">
  <img src={{ url_for('static', filename='card_game/7C.png') }} alt="Avatar" style="width:35%;height:35%">
  <img src={{ url_for('static', filename='card_game/7C.png') }} alt="Avatar" style="width:35%;height:35%">
  <!-- For loop logic of jinja template -->
  {%for card in Cards%}
        <img src="{{ url_for('static', filename='card_game/'+card+'.png') }}"  alt="Avatar" style="width:35%;height:35%">
  {% endfor %}



</div>



</body>
</html>
