<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


body {
  background-image:url(/background.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  /* background-position: center;  */
}



.card {
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

div.card {
  float: left;
  width: 180px;
}


img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

</style>
</head>


<body>



{%for card in Cards%}
<div class="card">
      <img src="{{ url_for('static', filename='card_game/'+card+'.png') }}" align="left" alt="card" style="width:100%;height:100%">
</div>
{% endfor %}




</body>
</html>
