<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hand.css') }}">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      var socket;

      $(document).ready(function(){
         socket = io.connect("http://localhost:8888/");

          socket.on('played', function() {
              location.reload();
          });
      });
      function play_a_card(card_index,player) {
        socket.emit('play', card_index,player)
      }
      function test(player) {
        console.log("test")
        console.log(player)
      }
  </script>

</head>


<body>


<div class="hand">
  {%for card in Cards%}
  <div class="card">
        <img src="{{ url_for('static', filename='card_game/'+card+'.png') }}" align="left" alt="{{card}}" style="width:100%;height:100%">
  </div>
  {% endfor %}
</div>

{%for i in range(len_trick)%}
  {% if not( trick[i] == "") %}
  <div class="{{"trick" + trick_str[i]}}">

    <div class="card">
          <img src="{{ url_for('static', filename='card_game/'+trick[i]+'.png') }}" align="left" alt="{{trick[i]}}" style="width:100%;height:100%">
    </div>
  </div>
  {% endif %}
{% endfor %}

<button type="button" onclick="play_a_card(0,{{player}});">Play a card </button>

</body>
</html>
